parallelipiped/.ipynb_checkpoints/parallelipipeds-checkpoint.ipynb
.ipynb_checkpoints/hw_1_integer_hw-checkpoint.ipynb
.ipynb_checkpoints/hw_2_if_else_bool_hw-checkpoint.ipynb
.ipynb_checkpoints/hw_4_lists_hw-checkpoint.ipynb
.ipynb_checkpoints/hw_5_for_loop-checkpoint.ipynb
.ipynb_checkpoints/hw3_strings_hw-checkpoint.ipynb
.ipynb_checkpoints/hw_6_dz_5_2-checkpoint.ipynb
.ipynb_checkpoints/hw_7_dict_tuple_hw-checkpoint.ipynb
.ipynb_checkpoints/hw_8_functions_hw-checkpoint.ipynb
.ipynb_checkpoints
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
month_matrix.npy
